@media screen and (max-width: 500px){

    .tengah{
        width:98%;
       
          height: 677px;
    }

   .ornamen2 {
        width: 80%;
        background-position-x: 50%;
    }
    .tamu {
        width: 100%;
        height: 129px;
        margin: 33px auto;
    }
    .jadwal {
        width: 100%;
        height: 129px;
        margin: 33px auto;
    }
    .ornamen {
        width: 17.2rem;
        height: 10.2rem;
        background-image: url(gbr/asset-3.png);
        background-repeat: no-repeat;
        margin: auto;
        background-size: 83%;
        background-position-x: 34px;
        z-index: 2;
    
    }
    .un {
        display: table;
        margin: auto;
        padding: 13px;
        font-family: cursive;
        font-size: 13px !important;
    }
    .tengah {
        width: 98%;
        height: 677px;
    }
}
@media screen and (max-width: 294px){
    .ornamen{
        width: 60%;
        height: 7.2rem;
    }
}