*{
     border: 1px solid rgba(115, 255, 0, 0);
}
body{
   background-color: #d5453500;
}

.tengah {
    width: 600px;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 1000px;
    margin: auto;
  
    border-radius: 10px;
    background-image: url(gbr/abstract.png);
    background-repeat: no-repeat;
  
    background-size: 100%;
  
    background-position-x: 80%;
  }

.undangan{
    margin: auto;
}
   .un{

    display: table;
    margin: auto;
    padding: 13px;
    font-family: cursive;
    font-size: 19px !important;
}
.N
    {
    font-family: cursive;
    font-size: 32px !important;
    display: table;
    margin: auto;
    padding: 13px;

}
.ornamen {
    width: 17.2rem;
    height: 16.2rem;
    background-image: url(gbr/asset-3.png);
    background-repeat: no-repeat;
    margin: auto;
    background-size: 70%;
    background-position-x: 34px;
    z-index: 2;
}
.jadwal {
    width: 387px;
    height: 129px;
    margin: 33px auto;
}

.jadwal p {
    display: table;
    font-family: cursive;
    font-size: 20px;
    margin: 9px auto;
}
.jadwal .tm {
    width: 67px;
    text-align: center;
    height: 10px;
    margin: auto;
    border-bottom: 2px solid black;
    height: 48px;
    border-top: 2px solid black;
}
.tamu {
    width: 387px;
    height: 129px;
    margin: 33px auto;
}
.l {
    margin: 0px auto;
    display: table;
}.l .o{
    font-weight: 700!important;
}
.br {
    width: 171px;
    height: 47px;
    border-radius: 30px;
    background-color: #d54635;
    margin: auto;
}
button {
    margin: auto;
    background-color: #e22bad00;
    border: black;
    display: block;
}
.e {
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}
.ornamen2 {
    width: 24.2rem;
    height: 6.2rem;
    background-image: url(gbr/asset-1.png);
    background-repeat: no-repeat;
    margin: 94px auto;
    background-size: 81%;
    background-position-x: 52px;
}