@media screen and (max-width: 700px){

    *{
        border: 1px solid rgba(172, 255, 47, 0);
    }
    .tengah{
        width: 100%;
    
    }
    
    .container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        transform-style: preserve-3d;
        perspective: 500px;
        margin: auto;
    }
    .ah1 {
        width: 96%;
        height: 21px;
        text-align: center;
        margin: 14px;
    }
    .fot {
        height: 136px;
        width: 100%;
        margin: auto;
        /* margin-top: 158px; */
    }
    }
    
    @media screen and (max-width: 570px){
    
        .tengah {
            width: 100%;
            height: 6500px;
            border-radius: 19px;
            margin: auto;
            border: 4px solid #00800000;
        }
    
        .bunga {
            width: 134px;
            height: 121px;}
            .iconee {
                height: 184px;
                display: -webkit-inline-box;
                width: 174px;
                text-align: center;
                margin: 3%;
                margin: auto;
            }
            .ats2 p {
                font-size: 22px;
                width: 100%;
                margin-top: 11px;
                display: block;
            }
            #main-footer {
                height: 171px;
                width: 100%;
                margin: auto;
                text-align: center;
            }
            .kedua .ornamen2 {
                width: 83%;
                height: 10.2rem;
                background-image: url(rt/asset-1.png);
                background-repeat: no-repeat;
                margin: 0px auto;
                margin-top: 283px;
                background-size: 96%;
                background-position-x: center;
            }
            .ah1 {
                width: 96%;
                height: 21px;
                text-align: center;
                margin: 14px;
                margin-top: 91px;
            }
            .iconee {
                height: 214px;
                display: -webkit-inline-box;
                width: 112px;
                text-align: center;
                margin: 3%;
                margin: auto;
                /* margin: auto 113px; */
            }.ats2 p {
                font-size: 22px;
                width: 100%;
                margin-top: 11px;
                display: block;
            }.pp1{
                margin-top: 280px;
            }.lmb i {
                font-size: 44px;
                margin-top: 23px;
            }
    }
    @media screen and (max-width: 400px){
        .jadwal {
            width: 100%;
            height: 165px;
            margin: 63px auto;
        }
        .tamu {
            width: 100%;
            height: 60px;
            margin: 33px auto;
            margin-top: 10px;
        }
        
        .tengah {
            width: 100%;
            height: 6550px;
            border: 1px solid rgba(0, 0, 0, 0);
        }
    
        .tengah {
            width: 100%;
            height: 6550px;
        }.lmb {
            width: 72px;
            margin-top: 10px;
            background-color: #ff3e10;
            margin: auto;
            border-radius: 100px;
            position: absolute;
            /* margin-right: 4px; */
            margin-left: initial;
            height: 75px;
            margin: 12px 36px;
        }.iconee p {
            font-size: 15px;
            position: absolute;
            display: inline-block;
            width: 84px;
            height: 57px;
            margin: 28px;
            margin-top: 73px;
        }.iconn {
            width: 100%;
            text-align: center;
            height: 485px;
        }.ats2 p {
            font-size: 15px;
            width: 100%;
            margin-top: 11px;
            display: block;
        }
        .lmb i {
            font-size: 35px;
            margin-top: 29px;
        }
        .lmb i {
            font-size: 35px;
            margin-top: 20px;
        }
    }
    @media screen and (max-width: 350px){



        .tengah {
            width: 100%;
            height: 7000px;
            
        }
        .ktn {
            width: 100%;
            border-radius: 20px;
            background-color: #d85e4b;
            margin-top: 63px;
            margin: 28px auto;
            height: 67px;
        }
        button{
         
                width: 200px;
           
        }

    }

    @media screen and (max-width:1600px){
        .tengah{
            border: 5px solid rgba(212, 101, 231, 0);
            height: 100%;
        }
        


    }