*{
    border: 1px solid rgba(166, 255, 0, 0);
}.tengah{
    width: 600px;
    height: 5602px;
    border-radius: 19px;
    margin: auto;
    border: 4px solid #00800000;
}
.bunga {
    width: 180px;
    height: 180px;
    /* border: 1px solid peru; */
    display: inline-block;
    background-image: url(rt/asset-3.png);
    background-repeat: no-repeat;
    background-size: 98%;
}
.n2{

    float: right;
    transform: rotateY(180deg);
}
.undangan {
    margin: auto;
  
}

.un {
    font-size: 166%;
    margin-top: -6px;
}
.un, .N {
    display: table;
    margin: auto;
    padding: 13px;
}
.N {
    font-family: cursive;
    font-size: 183% !important;
}
.jadwal {
    width: 387px;
    height: 165px;
    margin: 63px auto;
}

.jadwal .tm {
    width: 67px;
    text-align: center;
    height: 10px;
    margin: auto;
    border-bottom: 2px solid black;
    height: 48px;
    border-top: 2px solid black;
}.jadwal .tm p {
    margin-top: -3px;
    font-size: 35px;
}
.jadwal p {
    display: table;
    font-family: cursive;
    font-size: 20px;
    margin: 3px auto;
}
.jadwal .lk {
    font-size: 40px;
}
.tamu {
    width: 387px;
    height: 60px;
    margin: 33px auto;
    margin-top: 10px;
}.l {
    margin: 0px auto;
    display: table;
}
.o {
    font-weight: 700!important;
}
.ornamen2 {
    width: 83%;
    height: 10.2rem;
    background-image: url(rt/asset-1.png);
    background-repeat: no-repeat;
    margin: 0px auto;
    margin-top: 50px;
    background-size: 96%;
    background-position-x: center;
}.gbr {
    width: 31%;
    height: 925px;
    background-image: url(rt/abstract.png);
    background-repeat: no-repeat;
    margin: auto;
    background-size: 96%;
    background-position-x: center;
    position: fixed;
    /* border: 1px solid green; */
    z-index: -1;
}
.gbr2 {
    width: 31%;
    height: 44%;
    background-image: url(rt/abstract.png);
    background-repeat: no-repeat;
    margin: auto auto;
    /* margin-top: -140px; */
    position: fixed;
    transform: rotateY(-180deg);
    background-size: 51%;
    /* border: 1px solid blue; */
    background-position-x: center;
    z-index: -2;
    background-position-y: center;
}
.teks.sa {
    margin: auto;
    display: inline-block;
    /* margin-top: 20px; */
    text-align: center;
    font-size: 20px;
    padding: 2%;
    padding-top: 0%;
}.teks.du {
    margin: auto;
    margin-bottom: -16px;
    margin-left: 4%;
}p.na {
    display: table;
    font-family: cursive;
    margin: auto;
    font-size: 35px;}
    p.bp {
        display: table;
        font-family: serif;
        text-align: center;
        margin: auto;
        font-size: 16px;
    }.lam {
        display: table;
        padding: 7%;
        font-size: 320%;
        margin: auto;
    }
    p.nap {
        font-size: 33px;
        margin-bottom: 8px;
        display: table;
        margin: auto;
    }p.bpp {
        display: table;
        font-family: serif;
        margin: auto;
        font-size: 16px;
    }.foto {
            width: 212px;
            height: 243px;
            background-size: 133%;
            float: right;
            margin-top: 0px;
            margin: 22px;
        }.ketiga {
            width: 100%;
        }.ketiga p {
            width: 100%;
        }.ketiga .p2 {
            font-size: larger;
        }.ketiga .p3 {
            margin-top: 34px;
            font-size: 22px;
        }.ketiga .p4 {
            font-size: 15px;
            margin-top: 10px;
            color: red;
        }.ketiga .p5 {
            font-size: 15px;
            color: #ff000085;
        }.ketiga .p6 {
            font-size: 23px;
        }a:hover, a:focus {
            color: #373e18;
        }a {
            text-decoration: none;
            color: inherit;
        }a {
            font-family: "Raleway",sans-serif;
            text-decoration: none;
            outline: none;
        }.nav {
            width: 172px;
            border-radius: 10px;
            text-align: center;
            margin-top: 51px;
            margin: 1px auto;
            height: 57px;
            background-color: #ff5e68;
        }.nam {
            display: inline-block;
            text-decoration: none;
            color: black;
            font-size: 24px;
            margin-top: 10px;
            font-family: cursive;
        }p {
            /* margin-left: 50px; */
            margin: auto;
            text-align: center;
            margin-right: 50px;
            font-family: cursive;
            font-size: 48px;
        }.ketiga .p7 {
            margin-top: 0px;
            font-size: 22px;
        }.ketiga .p8 {
            font-size: 15px;
            margin-top: 10px;
            color: red;
        }.ketiga .p9 {
            font-size: 15px;
            color: #ff000085;
        }.ketiga .p10 {
            font-size: 23px;
            margin-bottom: 23px;
        }
        button {
            background-color: #d85e4b00;
            margin: auto;
            display: table;
        }.ktn {
            width: 283px;
            border-radius: 20px;
            background-color: #d85e4b;
            margin-top: 63px;
            margin: 28px auto;
            height: 88px;
        }.ktn p {
            font-size: 22px;
            /* text-align: center; */
            margin-top: 34px;
            margin: 10% auto;
            display: inline-block;
        }.tambahann {
            width: 100%;
            height: 463px;
        }* {
            margin: 0;
            padding: 0;
          }
          body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
          }
          .container {
            position: relative;
            width: 600px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            transform-style: preserve-3d;
            perspective: 500px;
            margin: auto;
          }
          .container .box {
            position: relative;
            width: 257px;
            height: 262px;
            background: #000;
            transition: 0.5s;
            transform-style: preserve-3d;
            overflow: hidden;
            margin-right: 15px;
            margin-top: 45px;
            border-radius: 10px;
        }
          .container:hover .box {
            transform: rotateY(25deg);
          }
          .container .box:hover ~ .box {
            transform: rotateY(-25deg);
          }
          .container .box:hover {
            transform: rotateY(0deg) scale(1.25);
            z-index: 1;
            box-shadow: 0 25px 40px rgba(0,0,0,0.5);
          }
          .container .box .imgBx {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          .container .box .imgBx:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg,#f00,#000);
            z-index: 1;
            opacity: 0;
            transition: 0.5s;
            mix-blend-mode: multiply;
          }
          .container .box:hover .imgBx:before {
            opacity: 1;
          }
          .container .box .imgBx img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .container .box .content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            padding: 20px;
            align-items: flex-end;
            box-sizing: border-box;
          }
          .container .box .content h2 {
            color: #fff;
            transition: 0.5s;
            text-transform: uppercase;
            margin-bottom: 5px;
            font-size: 20px;
            transform: translateY(200px);
            transition-delay: 0.3s;
          }
          .container .box:hover .content h2 {
            transform: translateY(0px);
          }
          .container .box .content p {
            color: #fff;
            transition: 0.5s;
            font-size: 14px;
            transform: translateY(200px);
            transition-delay: 0.4s;
          }
          .container .box:hover .content p {
            transform: translateY(0px);
          }.kelima .p {
            font-size: 23px;
            display: inline-block;
            margin: auto;
            width: 100%;
            margin-bottom: 19px;
            margin-top: 21px;
        }form {
            margin: auto;
        }.semuakm {
            width: 100%;
            height: 500px;
            border-radius: 10px;
            overflow: auto;
        }.kelima .nmk {
            width: 96%;
            height: 34px;
            border-radius: 9px;
            margin: auto;
            background-color: #ffe1e1;
            display: block;
        }.kelima .komennya {
            width: 95%;
            height: 128px;
            border-radius: 10px;
            margin: auto;
            margin-bottom: 11px;
            display: block;
            margin-top: 12px;
            background-color: #ffe1d9;
        }.kelima .komnn {
            width: 95%;
            margin: 12px;
            height: 116px;
            border-radius: 10px;
            background-color: #ffe1d1;
        }.semuakm p {
            width: 100%;
            font-size: 13px;
        }.ats {
            width: 100%;
            text-align: center;
            height: 65px;
        }.ats p {
            display: block;
            margin: auto;
            text-align: center;
            margin: 13px;
            font-size: 29px;
        }.ats2 {
            width: 100%;
            margin: auto;
            height: 156px;
        }.ats2 p {
            font-size: 22px;
            width: 517px;
            margin-top: 11px;
            display: block;
        }.iconn {
            width: 100%;
            height: 485px;
        }.iconee {
            height: 192px;
            display: -webkit-inline-box;
            width: 179px;
            text-align: center;
            margin: 3%;
            margin: auto;
        }.lmb {
            width: 106px;
            margin-top: 10px;
            background-color: #ff3e10;
            margin: auto;
            border-radius: 100px;
            position: absolute;
            /* margin-right: 4px; */
            margin-left: initial;
            height: 106px;
            margin: 12px 36px;
        }.lmb i {
            font-size: 44px;
            margin-top: 29px;
        }.iconee p {
            font-size: 15px;
            position: absolute;
            display: inline-block;
            width: 84px;
            height: 57px;
            margin: 45px;
            margin-top: 125px;
        }.ah1 {
            width: 100%;
            height: 21px;
            text-align: center;
            margin: 14px;
        }.ah2 .a {
            font-size: 13px;
            width: 100%;
        }.ah2 p {
            font-size: 20px;
            width: 100%;
        }.fot {
            height: 136px;
            width: 541px;
            margin: auto;
            /* margin-top: 158px; */
        }#main-footer {
            height: 171px;
            width: 541px;
            margin: auto;
            text-align: center;
        }ul {
            list-style-type: none;
        }ul li {
            font-size: 36px;
        }a {
            text-decoration: none;
            color: inherit;
        }#main-footer .container p {
            font-size: 30px;
            margin: auto;
            margin-top: 45px;
        }


        /* css footer */
        .fot {
            height: 136px;
            width: 541px;
            margin: auto;
            /* margin-top: 158px; */
        }